body {
	padding-top: 70px;
}

input.ng-dirty.ng-invalid {
  border-color: #a94442;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.transactions {
  font-size: 13px;
}

.transactions .date {
  width: 175px;
  text-align: right;
}

.transactions .check-num {
  width: 100px;
  text-align: right;
}

.transactions .amount {
  width: 100px;
  text-align: right;
}

.transactions .expense {
  width: 125px;
}

.transactions .actions {
  width: 125px;
}

.transaction-filter {
  margin-bottom: 10px;
}

.transaction-filter .form-group-sm {
  font-size: 12px;
}

.transaction-filter input[type="number"] {
  min-width: 115px;
}

.transactions .description input {
  width: 300px;
}
