<h4 class="balance-summary-total">Current Available Balance: {{summaryCtrl.total.currentlyAvailable | currency}}</h4>
<table ng-show="summaryCtrl.expenses.length > 0" class="balance-summary-expenses table table-striped">
	<thead>
		<tr>
			<th>Expense</th>
			<th>Remaining Allocated</th>
			<th>Currently Available</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="expense in summaryCtrl.expenses">
			<td>{{expense.name}}</td>
			<td>{{expense.remainingAllocated | currency}}</td>
			<td>{{expense.currentlyAvailable | currency}}</td>
		</tr>
	</tbody>
</table>
