<form class="transaction-filter form-inline" name="transactionFilterForm" role="form" 
	ng-submit="transactionFilterForm.$valid && transCtrl.refresh(true)" novalidate>
	<div class="form-group form-group-sm">
		<label for="startDate">From</label>
		<input ng-model="transCtrl.transactionFilter.startDate" type="date" name="startDate" class="form-control input-sm" />
	</div>
	<div class="form-group form-group-sm">
		<label for="endDate">To</label>
		<input ng-model="transCtrl.transactionFilter.endDate" type="date" name="endDate" class="form-control input-sm" />
	</div>
	<div class="form-group form-group-sm">
		<label for="minCheckNum" class="sr-only">From Check #</label>
		<input ng-model="transCtrl.transactionFilter.minCheckNum" type="number" name="minCheckNum" min="1" max="9999" class="form-control input-sm" 
			placeholder="From Check #" />
		<label for="maxCheckNum" class="sr-only">To Check #</label>
		<input ng-model="transCtrl.transactionFilter.maxCheckNum" type="number" name="maxCheckNum" min="1" max="9999" class="form-control input-sm" 
			placeholder="To Check #" />
	</div>
	<div class="form-group form-group-sm">
		<label for="descriptionQuery" class="sr-only">Description Search</label>
		<input ng-model="transCtrl.transactionFilter.descriptionQuery" type="text" name="descriptionQuery" class="form-control input-sm" 
			placeholder="Description Search" />
	</div>
	<div class="form-group form-group-sm">
		<label for="expenseId" class="sr-only">Expense</label>
		<select ng-model="transCtrl.transactionFilter.expenseId" class="form-control input-sm" 
			ng-options="expense.id as expense.name for expense in transCtrl.expenses">
			<option value>Select an Expense</option>
		</select>
	</div>
	<button type="submit" class="btn btn-default btn-sm" ng-disabled="!transactionFilterForm.$valid">Refresh</button>
</form>
<button class="btn btn-default btn-sm" ng-file-select="transCtrl.uploadTransactions($files)" >Import Transactions</button>


<table class="transactions table table-striped table-responsive table-hover table-bordered">
	<thead>
		<tr>
			<th class="date">Date</th>
			<th class="check-num">Check #</th>
			<th class="description">Description</th>
			<th class="amount">Amount</th>
			<th class="expense">Expense</th>
			<th class="actions">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transaction in transCtrl.transactions">
			<td class="date">
				<span editable-date="transaction.date" e-name="date" e-form="rowform" e-required>
					{{transaction.date | date }}
				</span>
			</td>
			<td class="check-num">
				<span editable-number="transaction.checkNum" e-name="checkNum" e-form="rowform" e-step="1">
					{{transaction.checkNum}}
				</span>
			</td>
			<td class="description">
				<span editable-text="transaction.description" e-name="description" e-form="rowform" e-required>
					{{transaction.description}}
				</span>
			</td>
			<td class="amount">
				<span editable-number="transaction.amount" e-name="amount" e-form="rowform" e-step="0.01" e-required>
					{{transaction.amount | currency}}
				</span>
			</td>
			<td class="expense">
				<span editable-select="transaction.expenseId" e-name="expenseId" e-form="rowform" 
					e-ng-options="expense.id as expense.name for expense in transCtrl.expenses" e-required>
					{{transCtrl.showExpense(transaction)}}
				</span>
			</td>
			<td class="actions">
				<form editable-form name="rowform" onbeforesave="transCtrl.saveTransaction($data, $index)" ng-show="rowform.$visible" 
					class="form-buttons form-inline">
					<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm">save</button>
					<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-sm">cancel</button>
				</form>
				<div class="buttons" ng-show="!rowform.$visible">
					<button class="btn btn-primary btn-xs" ng-click="rowform.$show()">edit</button>
					<button class="btn btn-danger btn-xs" ng-click="transCtrl.deleteTransaction($index)">del</button>
				</div> 
			</td>
		</tr>
	</tbody>
</table>

<nav>
  <ul class="pager" ng-show="transCtrl.transactions.length > 0">
    <li class="previous" ng-class="{ disabled : !transCtrl.hasPreviousPage() }">
    	<a href ng-click="transCtrl.incrementPage(-1)">Previous</a>
    </li>
    <li class="next" ng-class="{ disabled : !transCtrl.hasNextPage() }">
    	<a href ng-click="transCtrl.incrementPage(1)">Next</a>
    </li>
  </ul>
</nav>