#wrapper {
	margin: 1em 1em 0 1em;
	font-size: 93%;
}

#footer {
	margin-top: 1em;
	font-size: 91.4%;
}

.clearfix {
	clear:both;
	height: 0;
}

/* Forms */
.form ul.errors {
	margin-left: 1em;
	color: #CD0A0A;
}

.form ul.errors li {
	list-style: none;
}

.form .form-element {
	margin-bottom: .75em;
}

.form label.form-element-label {
	display: block;
	margin-bottom: 0.25em;
	font-weight: bold;
}



#header #controls .control {
	float: right;
	width: 33%;
}


#controls .user {
	text-align: right;
}

#controls .date-selector .ui-datepicker {
	border: none;
	padding: 0;
	margin: 0 auto;
}

#controls .date-selector table {
	display: none;
}

#main-tabs .ui-tabs-panel {
	background-color: #FFF;
}

#wrapper button.ui-button, #wrapper input[type=submit] {
	font-size: 82.8%;
}

#wrapper button.right {
	float: right;
}

#recurring-incomes {
	padding: .5em;
}

#recurring-incomes .recurring-income {
	width: 300px;
	height: 6em;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: .5em;
	border-right: 1px solid #dddddd;
}

#category-list { 
	margin: 1em 0 1em 0.5em; 
	padding: 0; 
	width: 60%;
}

#category-list li { 
	list-style-type: none; 
	margin: 0 0.25em 0.25em 0.25em; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	height: 1.25em; 
}

#category-list li span.handle { 
	position: absolute; 
	margin-left: -1.3em; 
}

#category-list button {
	width: 2em;
	height: 2em;
	margin-top: -0.25em;
}

#allocations table {
	margin: 0;
}

#allocations table th, #allocations table td {
	padding: 0.25em 0.25em;
	text-align: right;
}

#allocations table .first {
	width: 155px;
}

#allocations table .category td.first {
	text-align: left;
	font-weight: bold;
}

#allocations table tr.total td {
	font-weight: bold;
}

table thead, table tfoot {
	background: #DEEDF7;
	color: #222;
}

/*
fixedHeaderTable Styles
*/

.fht_table_body tbody, .fht_table_body thead, .fht_table_body tfoot {
    margin: 0 !important;
    padding: 0 !important;
}

.fht_fixed_header, .fht_fixed_footer {
	width:100%;
	overflow: hidden;
	position:relative;
	font-weight: bold;
}

.fht_table_body {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
	overflow-y:auto;
	overflow-x:auto;
}

#transaction-forms {
	float: left;
	width: 200px;
}

#transaction-forms .transaction-form {
	padding: 0.5em;
	margin-bottom: 0.5em;
}

#transaction-forms .transaction-form h3 {
	margin-top: 0;
}

#transaction-forms .transaction-form .uploadifyQueueItem {
	width: 145px;
}

#transaction-table {
	margin-left: 215px;
	overflow-y: auto;
}

#transaction-table table {
	width: 100%;
}

#transaction-table table th, #transaction-table table td {
	padding: 0.25em 0.25em;
}

#form-import input.date,
#form-import input.amount,
#form-import input.check_num {
	width: 6em;
}

.help {
	font-size: 91.4%;
}
